# Build
build

# Node & Dependencies
node_modules
coverage

# Build tools specific
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
npm-debug.log
yarn-error.log

# Editors specific
.fleet
.idea
.vscode
